#####################################################################
#  Caselight pin Definition
#####################################################################
## Caselight - XYE board, HB Connector
# [output_pin caselight]
# pin: ramps:PH3
# pwm: true
# hardware_pwm: true
# shutdown_value: 1
# cycle_time: 0.0001
[neopixel caselight]
pin: ramps:PH3
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 40
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, BRG, GRBW, or RGBW. The default is GRB.
initial_RED:	0.0
initial_GREEN:	0.0
initial_BLUE:	0.0

#####################################################################
#  Macros
#####################################################################

##TODO: Add LED code

[gcode_macro _CASELIGHT_ON]
description: Helper: Light on
gcode:
  SET_PIN PIN=caselight_relay VALUE=0
  # SET_PIN PIN=caselight VALUE={printer['gcode_macro _USER_VARIABLE'].peripheral.caselight.on_val}
  {action_respond_info("Caselight on")}
    
[gcode_macro _CASELIGHT_OFF]
description: Helper: Light off
gcode:
  SET_PIN PIN=caselight_relay VALUE=1
  {action_respond_info("Caselight off")}

[gcode_macro CASELIGHT]
description: Toggle light
gcode: {% if printer['output_pin caselight_relay'].value == 1 %} _CASELIGHT_ON {% else %} _CASELIGHT_OFF {% endif %}
